{% extends 'base1.html.twig' %}

{% block title %}Questions index
{% endblock %}


{% block body %}

<body>
<div class="col-xl-10 col-lg-10 col-md-10">
    <div class="menu-main d-flex align-items-center justify-content-end">
        <!-- Main-menu -->

        <!-- Mobile Menu -->
        <div class="col-12"> <div class="mobile_menu d-block d-lg-none">
                <div class="slicknav_menu">
                    <a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;">
                        <span class="slicknav_menutxt">MENU</span>
                        <span class="slicknav_icon">
								<span class="slicknav_icon-bar"></span>
								<span class="slicknav_icon-bar"></span>
								<span class="slicknav_icon-bar"></span>
							</span>
                    </a>
                    <ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                        <li>
                            <a href="index.html" role="menuitem" tabindex="-1">Home</a>
                        </li>
                        <li>
                            <a href="about.html" role="menuitem" tabindex="-1">About</a>
                        </li>
                        <li>
                            <a href="services.html" role="menuitem" tabindex="-1">Services</a>
                        </li>
                        <li>
                            <a href="schedule.html" role="menuitem" tabindex="-1">schedule</a>
                        </li>
                        <li>
                            <a href="gallery.html" role="menuitem" tabindex="-1">gallery</a>
                        </li>
                        <li class="slicknav_collapsed slicknav_parent">
                            <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                <a href="blog.html" tabindex="-1">Blog</a>
                                <span class="slicknav_arrow">+</span>
                            </a>
                            <ul class="submenu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                <li>
                                    <a href="blog.html" role="menuitem" tabindex="-1">Blog</a>
                                </li>
                                <li>
                                    <a href="blog_details.html" role="menuitem" tabindex="-1">Blog Details</a>
                                </li>
                                <li>
                                    <a href="elements.html" role="menuitem" tabindex="-1">Element</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="contact.html" role="menuitem" tabindex="-1">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body></div></div></header><main><!--? Hero Start --><div class="slider-area2"><div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-70 text-center">
                            <h2>Bienvenue dans notre espace Forums</h2>
                        </div>
                    </div>
                </div>
            </div></div></div><!-- Hero End --><form id="contact-form" action="#" method="POST"><div class="row">
            <div class="col-lg-6 col-md-6"></main>
<section class="blog_area single-post-area section-padding">
    <div class="container">
        <div class="row">
            <img src="{{ asset("images/food.jpg") }}" alt="">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="assets/img/blog/single_blog_1.png" alt="">
                    </div>
                    <div class="blog_details">
                        <h2 style="color: #2d2d2d;">Second divided from form fish beast made every of seas
                            all gathered us saying he our
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li>
                                <a href="#">
                                    <i class="fa fa-user"></i>
                                    Travel, Lifestyle</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-comments"></i>
                                    03 Comments</a>
                            </li>
                        </ul>
                        <p class="excert">
                            MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                            should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                            fraction of the camp price. However, who has the willpower
                        </p>
                        <p>
                            MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                            should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                            fraction of the camp price. However, who has the willpower to actually sit through a
                            self-imposed MCSE training. who has the willpower to actually
                        </p>
                        <div class="quote-wrapper">
                            <div class="quotes">
                                MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                                should have to spend money on boot camp when you can get the MCSE study materials yourself at
                                a fraction of the camp price. However, who has the willpower to actually sit through a
                                self-imposed MCSE training.
                            </div>
                        </div>
                        <p>
                            MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                            should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                            fraction of the camp price. However, who has the willpower
                        </p>
                        <p>
                            MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                            should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                            fraction of the camp price. However, who has the willpower to actually sit through a
                            self-imposed MCSE training. who has the willpower to actually
                        </p>
                    </div>
                </div>
                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                        <p class="like-info">
							<span class="align-middle">
								<i class="fa fa-heart"></i>
							</span>

                        <div>
                            class="col-sm-4 text-center my-2 my-sm-0"><!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                        </div>
                        <ul class="social-icons">
                            <li>
                                <a href="https://www.facebook.com/sai4ull">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="navigation-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                <div class="thumb">
                                    <a href="#">
                                        <img class="img-fluid" src="assets/img/post/preview.png" alt="">
                                    </a>
                                </div>
                                <div class="arrow">

                                </div>
                                <div class="detials">

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                <div class="detials">

                                </div>
                                <div class="arrow">
                                    <a href="#">
                                        <span class="lnr text-white ti-arrow-right"></span>
                                    </a>
                                </div>
                                <div class="thumb">
                                    <a href="#">
                                        <img class="img-fluid" src="assets/img/post/next.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="media align-items-center">
                    <img src="{{ asset("images/healthy.jpg") }}" alt="">
                </div>
                <div class="about-img ">
                    <src="{{ asset("/public/images/sport.jpg") }}" alt=""><br>
                </div>


                <div class="comments-area">
                    <div class="comment-list">
                        <a href="{{path('app_question_news')}}" class="genric-btn danger-border radius">Retour</a>
                        {% if question.reponses | length %}
                        {% for r in question.reponses %}
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="comment-body">
                                    <p class="comment">
                                        {{r.rep}}
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                {{r.user.nom}}
                                            </h5>
                                    <p class="date">
                                        {{r.createdAt |date("m-d-Y à H:i")}}
                                    </p>
                                             </div>
                                           <div>
                                          </div>
                                         </div>
                                        </div>
                                    </div>
                                </div>
                      {% endfor %}
                      {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="comment-form" id="ajout-reponse">
            <h1>Réponse</h1>
            <form class="form-contact comment_form" action="#" id="commentForm">

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button class="btn">{{ button_label|default('Save') }}</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <form class="form-contact comment_form" action="#" id="commentForm">
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-append"></form>

                        <aside class="single_sidebar_widget popular_post_widget">

                            <div class="media post_item">

                                <div class="media-body"></div>

                            </div>
                            <div class="media post_item">

                                <div class="media-body"></div>
                            </div>
                            <div class="media post_item">

                                <div class="media-body"></div>
                            </div>
                            <div class="media post_item">

                                <div class="media-body"></div>
                            </div>
                        </aside>
                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4 class="widget_title" </h4> <li> <a href="#">
                            <li>
                        </aside>
                        <a href="#">
                            <img class="img-fluid" src="assets/img/post/post_6.png" alt="">
                        </a>
                        </li>
                        <li>
                            <a href="#">
                                <img class="img-fluid" src="assets/img/post/post_7.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img class="img-fluid" src="assets/img/post/post_8.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img class="img-fluid" src="assets/img/post/post_9.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img class="img-fluid" src="assets/img/post/post_10.png" alt="">
                            </a>
                        </li>
                        </ul>

                </div>
            </div>
    </div>
    </div>

</section>
<!-- ? Preloader Start -->

<!-- Preloader Start -->


<script>
    function displayQuestion(questions) {
        var questionsDisplay = document.getElementById("questions-display");
        questionsDisplay.innerHTML = questions;
    }


    /*document.querySelectorAll("[data-reply]").forEach(element => {
     element.addEventListener("click",function(){
        document.querySelector("#questions_contenu").value = this.dataset.id;

     })
    })*/


    /*function getresponse(idquestion,response){
     $.ajax({
     url: "test.html",
     type: "POST",
     data: data

     }).done(function() {
     $( this ).addClass( "done" );
    });
    }*/
</script>


    </body>
    {% endblock %}

