{% extends 'base2.html.twig' %}

{% block title %}Questions index{% endblock %}

{% block body %}
<div class="bg-secondary rounded h-100 p-4">
    <center><h1>Question</h1></center>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Contenu</th>
            <th>user</th>
            <th>createdAt</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>

        {% for question in question %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.contenu }}</td>
                {% if question.user is not null %}
                    <td>{{ question.user.nom }}</td>
                {% endif %}


                <td>{% if question.createdAt is not null %}{{ question.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>

                <td>
                    <a href="{{ path('app_question_show', {'id': question.id}) }}" >show</a>
                    <a href="{{ path('app_question_edit', {'id': question.id}) }}" >edit</a>
                    <a href="{{ path('app_question_delete', {'id': question.id}) }}" >delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}