{% extends 'base1_3.html.twig' %}

{% block title %}Questions index
{% endblock %}


{% block body %}

<body>
<div class="col-xl-10 col-lg-10 col-md-10">
    <div class="menu-main d-flex align-items-center justify-content-end">
        <!-- Main-menu -->

        <!-- Mobile Menu -->
        <div class="col-12"> <div class="mobile_menu d-block d-lg-none">
                <div class="slicknav_menu">
                    <a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;">
                        <span class="slicknav_menutxt">MENU</span>
                        <span class="slicknav_icon">
								<span class="slicknav_icon-bar"></span>
								<span class="slicknav_icon-bar"></span>
								<span class="slicknav_icon-bar"></span>
							</span>
                    </a>
                    <ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                        <li>
                            <a href="index.html" role="menuitem" tabindex="-1">Home</a>
                        </li>
                        <li>
                            <a href="about.html" role="menuitem" tabindex="-1">About</a>
                        </li>
                        <li>
                            <a href="services.html" role="menuitem" tabindex="-1">Services</a>
                        </li>
                        <li>
                            <a href="schedule.html" role="menuitem" tabindex="-1">schedule</a>
                        </li>
                        <li>
                            <a href="gallery.html" role="menuitem" tabindex="-1">gallery</a>
                        </li>
                        <li class="slicknav_collapsed slicknav_parent">
                            <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                <a href="blog.html" tabindex="-1">Blog</a>
                                <span class="slicknav_arrow">+</span>
                            </a>
                            <ul class="submenu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                <li>
                                    <a href="blog.html" role="menuitem" tabindex="-1">Blog</a>
                                </li>
                                <li>
                                    <a href="blog_details.html" role="menuitem" tabindex="-1">Blog Details</a>
                                </li>
                                <li>
                                    <a href="elements.html" role="menuitem" tabindex="-1">Element</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="contact.html" role="menuitem" tabindex="-1">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body></div></div></header><main><!--? Hero Start --><div class="slider-area2"><div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-70 text-center">
                            <h2>Bienvenue dans notre espace Forums</h2>
                        </div>
                    </div>
                </div>
            </div></div></div><!-- Hero End --><form id="contact-form" action="#" method="POST"><div class="row">
            <div class="col-lg-6 col-md-6"></main>
<section class="blog_area single-post-area section-padding">
    <div class="container">
        <div class="row">
            <img src="{{ asset("images/food.jpg") }}" alt="">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="assets/img/blog/single_blog_1.png" alt="">
                    </div>
                    <div class="blog_details">
                        <h2 style="color: #2d2d2d;">Second divided from form fish beast made every of seas
                            all gathered us saying he our
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li>
                                <a href="#">
                                    <i class="fa fa-user"></i>
                                    Travel, Lifestyle</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-comments"></i>
                                </a>
                            </li>
                        </ul>
                        <p class="excert">
                            L’effort sportif peut être difficile à maintenir au quotidien.
                            Le sport permet de nombreux bienfaits à la fois pour notre corps et notre état d’esprit.
                            Si vous êtes en quête de motivation pour le sport,
                            voici 20 superbes citations pour se motiver et aller de l’avant
                        </p>
                        <p>
                            « Vous devez attendre des choses de vous-même avant de pouvoir les faire. », Michael Jordan
                        </p>
                        <div class="quote-wrapper">
                            <div class="quotes">
                                Le sport, c'est la santé. C'est une vérité que tout le monde connaît, mais que peu de gens appliquent."
                                - Jean-Jacques Goldman
                            </div>
                        </div>
                        <p>
                            Le sport joue un rôle essentiel dans notre vie car il nous aide à maintenir une bonne santé physique et mentale.
                            En pratiquant une activité sportive régulière, nous pouvons renforcer notre système cardiovasculaire, musculaire et osseux, améliorer notre équilibre
                            , notre coordination et notre souplesse,et réduire les risques de maladies chroniques telles que l'obésité, le diabète, les maladies cardiaques et certains cancers
                        </p>
                    </div>
                </div>
                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                        <p class="like-info">
							<span class="align-middle">
								<i class="fa fa-heart"></i>
							</span>

                        <div>
                           <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                        </div>
                        <ul class="social-icons">
                            <li>
                                <a href="https://www.facebook.com/sai4ull">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="navigation-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                <div class="thumb">
                                    <a href="#">
                                        <img class="img-fluid" src="assets/img/post/preview.png" alt="">
                                    </a>
                                </div>
                                <div class="arrow">

                                </div>
                                <div class="detials">

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                <div class="detials">

                                </div>
                                <div class="arrow">
                                    <a href="#">
                                        <span class="lnr text-white ti-arrow-right"></span>
                                    </a>
                                </div>
                                <div class="thumb">
                                    <a href="#">
                                        <img class="img-fluid" src="assets/img/post/next.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="media align-items-center">
                    <img src="{{ asset("images/healthy.jpg") }}" alt="">
                </div>
                <div class="about-img ">
                    <src="{{ asset("/public/images/sport.jpg") }}" alt=""><br>
                </div>


                <div class="comments-area">

                    <div class="comment-list">
                      {% for question in questions %}
            <div class="card mt-2 mb-2">
                <div class="card-body">
                          <p class="comment">
                          <b>{{question.user.nom}} : </b>      {{ question.contenu }}
                          </p>
                    <span class="comment">  <i class="fa fa-comments"></i> {{ question.reponses|length }} Réponse</span>
                    <a href="{{ path('app_reponse_new', {'id': question.id}) }}" class="btn btn-primary me-md-2 float-right" >reponse</a>
                    <br>
                          <p class="comment">
                    {{question.createdAt |date("m-d-Y à H:i")}}
                    <br>
                          </p>
                    {% if question is defined and question is not null %}
                    {% for r in question.reponses %}
                        &nbsp; &nbsp; <footer class="blockquote-footer">
                        <p class="comment">
                        {{r.user.nom}} :{{r.rep}}
                        </p>
                        <p class="date">
                            {{r.createdAt |date("m-d-Y à H:i")}}
                        </p>

                        <a href= {{ path('ReponseLike_reponse',{id: r.id}) }} class="like d-inline-flex p-2">

                        <p class="like fs-6 float-end ml-2 mr-2 ">
                            {{r.getLikeReponses() |length}} like
                        </p>

                        {% if r.isLikesByUser(app.user) %}
                            <i class="fas fa-heart"></i>
                        {% else %}
                            <i class="far fa-heart"></i>
                        {% endif %}

                        </a>
                       <br>
                    </footer>
                    {% endfor %}
                </div>
            </div>

         {% endif %}
        {% endfor %}

                </div>
            </div>
        </div>
        </div>
        <div class="comment-form" id="ajout-question">
            <h1>Laisser une question</h1>
            <form class="form-contact comment_form" action="#" id="commentForm">

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            {{ form_start(form) }}
                            {{ form_widget(form.contenu,{'attr':{'class':'form form-control','placeholder':'Question'}}) }}<br>
                            <button type="submit" class="button button-contactForm btn_2 boxed-btn">Envoyer</button>
                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <form class="form-contact comment_form" action="#" id="commentForm">
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-append"></form>

                        <aside class="single_sidebar_widget popular_post_widget">

                            <div class="media post_item">

                                <div class="media-body"></div>

                            </div>
                            <div class="media post_item">

                                <div class="media-body"></div>
                            </div>
                            <div class="media post_item">

                                <div class="media-body"></div>
                            </div>
                            <div class="media post_item">

                                <div class="media-body"></div>
                            </div>
                        </aside>
                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4 class="widget_title" </h4> <li> <a href="#">
                            <li>
                        </aside>
                        <a href="#">
                            <img class="img-fluid" src="assets/img/post/post_6.png" alt="">
                        </a>
                        </li>
                        <li>
                            <a href="#">
                                <img class="img-fluid" src="assets/img/post/post_7.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img class="img-fluid" src="assets/img/post/post_8.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img class="img-fluid" src="assets/img/post/post_9.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img class="img-fluid" src="assets/img/post/post_10.png" alt="">
                            </a>
                        </li>
                        </ul>

                </div>
            </div>
    </div>
    </div>

</section>
<!-- ? Preloader Start -->

<!-- Preloader Start -->


<script>
    function displayQuestion(questions) {
        var questionsDisplay = document.getElementById("questions-display");
        questionsDisplay.innerHTML = questions;
    }


    /*document.querySelectorAll("[data-reply]").forEach(element => {
     element.addEventListener("click",function(){
        document.querySelector("#questions_contenu").value = this.dataset.id;

     })
    })*/


    /*function getresponse(idquestion,response){
     $.ajax({
     url: "test.html",
     type: "POST",
     data: data

     }).done(function() {
     $( this ).addClass( "done" );
    });
    }*/
</script>
 <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
 
function onCliklike (event){
  event.preventDefault();

  const url=this.href;
      const content = this.querySelector('p.like');
     const icone = this.querySelector('i');
    
 axios.get(url).then(function(response){
    //const sb = document.querySelector('#id'+response.data.id);
  
    
content.textContent=response.data.likes +" like";


   if(icone.classList.contains('far') ){
   
     icone.classList.replace('far','fas');
     
   }

   else{
     
     icone.classList.replace('fas','far');
   }

  });
}



   document.querySelectorAll('a.like').forEach(function(link){
    link.addEventListener('click',onCliklike)
  })
  </script>


    </body>
    {% endblock %}


  
