{% extends 'base2.html.twig' %}

{% block title %}Questions{% endblock %}

{% block body %}
    <h1>Questions</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ question.id }}</td>
        </tr>
        <tr>
            <th>Contenu</th>
            <td>{{ question.contenu }}</td>
        </tr>
        <tr>
            <th>User_id</th>
            <td>{{ question.user.nom }}</td>
        </tr>
        <tr>
            <th>createdAt</th>
            <td>{% if question.createdAt is not null %}{{ question.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>


        </tr>

        </tbody>
    </table>

    <a href="{{ path('app_question_index') }}">back to list</a>




{% endblock %}