{% extends 'base2.html.twig' %}

{% block title %}Role{% endblock %}

{% block body %}
    <h1>Role</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_user in categorie_users %}
            <tr>
                <td>{{ categorie_user.id }}</td>
                <td>{{ categorie_user.nom }}</td>
                <td>
                    <a href="{{ path('app_categorie_user_show', {'id': categorie_user.id}) }}">Afficher</a>
                    <a href="{{ path('app_categorie_user_edit', {'id': categorie_user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_user_new') }}">Créer nouveau</a>
{% endblock %}
