{% extends 'base2.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}
    <h1>Commandes</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ commande.id }}</td>
        </tr>
        <tr>
            <th>Date_commande</th>
            <td>{{ commande.dateCommande|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>Nom_commande</th>
            <td>{{ commande.nomCommande }}</td>
        </tr>
        </tbody>
    </table>

    <button onclick="window.location.href = '{{ path('app_commandes_index')}}';" type="button" class="btn btn-primary m-2"><i class="fa fa-home me-2"></i>back to list</button>

    <button onclick="window.location.href = '{{ path('app_commandes_edit', {'id': commande.id}) }}';" type="button" class="btn btn-warning m-2">edit</button>
    <!--<a href="{{ path('app_commandes_pdf', {'id': commande.id}) }}" target="_blank">Imprimer PDF</a>-->
    <!--<img src="{{ asset('app_commandes_qrcode/qrcode.png') }}" alt="QR Code"> -->

    <!-- Inclusion de la bibliothèque QRCode.js -->
    <script type="text/javascript" src="{{ asset('js/qrcodejs-master/qrcode.min.js') }}"></script>


    {{ include('commandes/_delete_form.html.twig') }}

    <!-- Élément pour afficher le code QR -->
    <div id="mon_qr_code"></div>

    <!-- Inclusion de la bibliothèque QRCode.js -->
    <script type="text/javascript" src="{{ asset('assets/js/qrcodejs-master/qrcode.min.js') }}"></script>

    <!-- Script pour générer le code QR -->
    <script type="text/javascript">
        var qrcode;

        function generateQR() {
            var url = "{{ path('app_commandes_show', {'id': commande.id}) }}";
            qrcode.clear();
            qrcode.makeCode(url);
        }

        window.onload = function() {
            qrcode = new QRCode("mon_qr_code", {
                width: 128,
                height: 128
            });
        }
    </script>

    <!-- Bouton pour générer le code QR -->
    <button onclick="generateQR()" type="button" class="btn btn-warning m-2">Générer le code QR</button>
{% endblock %}