{% extends 'base2.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}

    <h1>Utilisateur</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.CategorieUser }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">Afficher</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Créer un utilisateur</a>
{% endblock %}
